body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #494949, #000000);
  color: white;
}

html {
  background-color: #2a2a2a;
}

@font-face {
  font-family: 'welcome';
  src: url('welcome.ttf') format('truetype'),
       url('welcom.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ledlight';
  src: url('LEDLIGHT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stretch';
  src: url('StretchPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'write';
  src: url('write.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.start-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #444444 0%, #0c0c0c 100%);
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#welcome-container {
  text-align: center;
  padding: 20px;
  animation: fadeIn 2s ease-in-out;
}

h1 {
  font-family: 'welcome';
  color: #d7d6d6;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 10px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px black;
}

p {
  color: #dddddd; 
  font-size: 0.7rem;
  margin: 10px 0 0;
  opacity: 0.9;
  text-shadow: 1px 1px 5px black;
}


.start-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, #463a4523, transparent 80%);
  animation: gradientShift 10s infinite alternate;
  z-index: 0;
  pointer-events: none;
}

#welcome-container {
  z-index: 1;
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradientShift {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

